<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3607/effect/col_action1/00</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{154,132}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{341,843},{154,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3607/effect/col_action1/01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{154,134}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{185,843},{154,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/effect/col_action1/02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,15}</string>
                <key>spriteSize</key>
                <string>{182,180}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{205,661},{182,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/effect/col_action1/03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,16}</string>
                <key>spriteSize</key>
                <string>{192,180}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{289,185},{192,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/effect/col_action1/04</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,15}</string>
                <key>spriteSize</key>
                <string>{182,180}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{205,661},{182,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/effect/col_action1/05</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,13}</string>
                <key>spriteSize</key>
                <string>{200,182}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{289,1},{200,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/effect/col_action1/06</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,14}</string>
                <key>spriteSize</key>
                <string>{202,180}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,661},{202,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/effect/col_action1/07</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,13}</string>
                <key>spriteSize</key>
                <string>{200,182}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{289,1},{200,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/effect/col_action1/08</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,37}</string>
                <key>spriteSize</key>
                <string>{286,396}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{286,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/effect/col_action1/09</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,29}</string>
                <key>spriteSize</key>
                <string>{268,260}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,399},{268,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/effect/col_action1/10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,16}</string>
                <key>spriteSize</key>
                <string>{232,216}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{271,399},{232,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/effect/col_action1/11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{182,174}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,843},{182,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>col_action10.pvr.ccz</string>
            <key>size</key>
            <string>{504,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcf81809906ae10a403d5b61edb65e62:da2e54466eb87bee2375f369ec4fa4eb:fd6dfe3ee94267230ed6425290acf6b5$</string>
            <key>textureFileName</key>
            <string>col_action10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
