<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3607/effect/adv_action1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,120}</string>
                <key>spriteSourceSize</key>
                <string>{400,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/effect/adv_action2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,120}</string>
                <key>spriteSourceSize</key>
                <string>{400,120}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{804,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21da5c305216bc7d4a64b0b9a9e29256:889555ccfd10556f8ffe7e6f1ea2d70b:e0fdcd92bbdb8ab6858982d39ba3f2d9$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
