<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon/3607/profile/1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{6,6},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/profile/2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{92,6},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/profile/3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,69}</string>
                <key>textureRect</key>
                <string>{{6,96},{71,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/profile/4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,69}</string>
                <key>textureRect</key>
                <string>{{85,96},{71,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon/3607/profile/7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,69}</string>
                <key>textureRect</key>
                <string>{{6,173},{71,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon/3607/profile/8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,69}</string>
                <key>spriteSourceSize</key>
                <string>{71,69}</string>
                <key>textureRect</key>
                <string>{{85,175},{71,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>profile.pvr.ccz</string>
            <key>size</key>
            <string>{166,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b89a82126e6b2d2ea4224d2427b12fa1:a540a30222b911e878d1cc91e08f560e:03c072fd1c1f67b4883b34fedb7a3213$</string>
            <key>textureFileName</key>
            <string>profile.pvr.ccz</string>
        </dict>
    </dict>
</plist>
